.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }
.menu-item, .menu-open-button {
    background: #00d1d1;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}
.menu {
    z-index: 1;
    cursor: pointer;
    width: 4em;
    box-sizing: border-box;
    font-size: 20px;
}
.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
.header-name-holder{
    font-weight:600;
}