@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

footer{
    display:none;
}
body{
    overflow-y:hidden;
    margin-bottom:0px !important;
}

#signIn {
    display: none;
}

.body-under-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('/images/tryPic2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    width: 47.5rem;
    height: 28.125rem;
    border: 0.125rem solid #00D1D1;
    overflow: hidden;
    box-shadow: 0 0 1.5625rem #00D1D1;
    background: white;
}

    .wrapper .form-box {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .wrapper .form-box.login {
            left: 0;
            padding: 0 3.75rem 0 2.5rem;
        }

            .wrapper .form-box.login .animation {
                transform: translateX(0);
                opacity: 1;
                filter: blur(0);
                transition: .7s ease;
                transition-delay: calc(.1s * var(--j));
            }

    .wrapper.active .form-box.login .animation {
        transform: translateX(-120%);
        opacity: 1;
        filter: blur(10px);
        transition-delay: calc(.1s*var(--i));
    }

    .wrapper .form-box.register {
        right: 0;
        padding: 0 2.5rem 0 3.75rem;
        pointer-events: none;
    }

    .wrapper.active .form-box.register {
        pointer-events: auto;
    }

    .wrapper .form-box.register .animation {
        transform: translateX(120%);
        opacity: 0;
        filter: blur(10px);
        transition: .7s ease;
        transition-delay: calc(.1s * var(--j));
    }

    .wrapper.active .form-box.register .animation {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
        transition-delay: calc(.1s * var(--i));
    }

.form-box h2 {
    font-size: 32px;
    color: #000;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-right: 1.4375rem;
    outline: none;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    border-bottom: 0.125rem solid #fff;
    transition: 0.5s;
}

    .input-box input:focus,
    .input-box input:valid {
        border-bottom-color: #00D1D1;
    }

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #00D1D1;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.125rem;
    color: #000;
    transition: 0.5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: #00D1D1;
}

.btn {
    position: relative;
    width: 100%;
    height: 2.8125rem;
    background: transparent;
    border: 0.125rem solid #00D1D1;
    outline: none;
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

    .btn::before {
        content: '';
        position: absolute;
        width: 100%;
        top: -100%;
        left: 0;
        height: 300%;
        z-index: -1;
        background: linear-gradient(#fff, #00D1D1, #fff, #00D1D1);
        transition: 0.5s;
    }

    .btn:hover::before {
        top: 0;
    }

.form-box .logreg-link {
    font-size: 1.03rem;
    color: #000;
    text-align: center;
    margin: 1.25rem 0 0.625rem;
}

.logreg-link p a {
    color: #00D1D1;
    text-decoration: none;
    font-weight: 600;
}

    .logreg-link p a:hover {
        text-decoration: underline;
    }

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .wrapper .info-text.login {
        right: 0;
        text-align: right;
        padding: 0 40px 60px 150px;
        color: white;
    }

        .wrapper .info-text.login .animation {
            transform: translateX(0);
            opacity: 1;
            filter: blur(0);
            transition: .7s ease;
            transition-delay: calc(.1s * var(--j));
        }

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper.active .info-text.register {
    pointer-events: auto;
    color: white;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}


.info-text h2 {
    font-size: 2.rem;
    line-height: 1.3;
    text-transform: uppercase;
    color: white;
}

.info-text p {
    font-size: 1.1rem;
    color: white;
}

.wrapper .bg-animate {
    position: absolute;
    top: 0;
    right: -0.25rem;
    width: 53.125rem;
    height: 37.5rem;
    background: linear-gradient(45deg, orange, #00D1D1);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    border-bottom: 0.1875rem solid #00D1D1;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 15.625rem;
    width: 53.125rem;
    height: 43.75rem;
    background: #fff;
    border-top: 0.1875rem solid #00D1D1;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: 0.5s;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

@media screen and (max-width: 768px) {
    .wrapper .info-text.register {
        display: none;
    }

    .wrapper .info-text.login {
        display: none;
    }

    .wrapper .bg-animate,
    .wrapper .bg-animate2 {
        display: none;
        transition: 0s;
        transition-delay: 0s;
    }

    .wrapper.active .bg-animate,
    .wrapper.active .bg-animate2 {
        display: none;
        transition: 0s;
        transition-delay: 0s;
    }

    .form-box,
    .info-text {
        width: 90%;
        margin: 0 auto;
    }

    .wrapper .form-box.register,
    .wrapper .form-box.login {
        padding: 0;
        right: initial;
        left: initial;
    }

    .wrapper .form-box {
        width: 90%;
    }

    .body-under-container {
        height: 100vh;
    }

    .wrapper {
        height: 35rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .wrapper .info-text.login .animation,
        .wrapper .info-text.register .animation {
            transition: .4s ease;
        }

        .wrapper .form-box.register .animation,
        .wrapper .form-box.login .animation {
            transition-delay: calc(.01s * var(--j));
        }

        .wrapper.active .form-box.register .animation,
        .wrapper.active .form-box.login .animation {
            transition-delay: calc(.01s * var(--i));
        }

        .wrapper.active .info-text.login .animation {
            transition-delay: calc(.01s * var(--i));
        }

        .wrapper .info-text.register .animation {
            transition-delay: calc(.01s * var(--i));
        }

        .wrapper.active .info-text.register .animation {
            transition-delay: calc(.01s * var(--i));
        }
}

.eye-toggler {
    cursor: pointer;
}

.input-box.invalid {
    animation: shake 0.5s ease-in;
}

    .input-box.invalid label,
    .input-box.invalid i {
        color: red !important;
    }

    .input-box.invalid input {
        border-bottom-color: red !important;
    }

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.circle-container {
    display: none;
}
