
.fontawesome-icons {
    margin-left: 15px;
    color: rgb(0,0,0,.55) !important;
}

.fontawesome-icons:hover {
    color: rgb(0,0,0,.75) !important;
}

.sticky {
    top: 0;
    width: 100%;
    animation: fadeInDown 0.5s;
    z-index:200000;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.navbar-hidden {
    animation: fadeOutUp 0.5s;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.sign-in-container, .sign-up-container{
    transform: translateX(-38%);
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    padding: 23px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 340px;
}
.facebook-button {
    background-color: dodgerblue !important;
    border-radius: 8px !important;
}

.google-button {
    background-color: indianred;
    border-radius: 8px;
}

.scroller-title {
    color: rgba(7,175,211,1);
}


#navbar {
    display: none;
}
#mobileNav {
    display: block;
}

@media (min-width: 994px) {
    #navbar {
        display: block;
    }
    #mobileNav {
        display: none;
    }
}

.book-s-p .main-link, p {
    text-decoration: none !important;
    color: black;
}

.book-s-p h3 {
    color: #fc8600;
}
.book-s-p{
    height:100%
}