.menu {
    filter: url('#shadowed-goo');
    z-index: 1;
    cursor: pointer;
    height: 100vh;
    width:8vw;
    position:fixed;
}

.menu-item, .menu-open-button {
    background: #00d1d1;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-open {
    display: none;
    color: orange;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
    background: orange;
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
    background: orange;
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
    background: orange;
}

main.menu-opened {
    filter:blur(1px);
}

.menu {
    position: absolute;
    left: 90%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #00d1d1;
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    transition-duration: 180ms;
}

.menu-item:nth-child(7) {
    transition-duration: 180ms;
}

.menu-item:nth-child(8) {
    transition-duration: 180ms;
}

.menu-item:nth-child(9) {
    transition-duration: 180ms;
}


.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 150ms;
        transform: translate3d(0, 65px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 200ms;
        transform: translate3d(0, 123px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 250ms;
        transform: translate3d(0, 180px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 300ms;
        transform: translate3d(0, 237px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(7) {
        transition-duration: 350ms;
        transform: translate3d(0, 294px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(8) {
        transition-duration: 400ms;
        transform: translate3d(0, 351px, 0);
    }
    .menu-open:checked ~ .menu-item:nth-child(9) {
        transition-duration: 450ms;
        transform: translate3d(0, 351px, 0);
    }
