@{
    Layout = "/Areas/Identity/Pages/_AccountLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/library/css/custom/UserNav.css")" rel="stylesheet" type="text/css" />
}
<hr />
<div class="row justify-content-center">
    <div class="col-xxl-9 col-12 row">
        <div class="col-lg-3" style="padding-left:0px !important;">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-lg-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
