@page
@model IndexModel
@{
    ViewData["Title"] = "Имейл";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    .custom-container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        background-image: url("/images/account-background.jpg");
        background-size: cover;
    }

    .img-container {
        text-align: center;
    }

    .img-thumbnail {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    form label {
        font-weight: 700;
    }

</style>
<div class="custom-container">
    <div class="row justify-content-center">
        <div class="col-11 p-0 m-0">
            <h1 class="py-3">Вашият Профил</h1>
        </div>
    </div> 
    <partial name="_StatusMessage" for="StatusMessage" />
    @{
        var profileImageLink = $"";
    }
    <div class="row justify-content-around">
        <div class="col-md-3 img-container">
            <img src="path/to/your/image.jpg" alt="User Image" class="img-thumbnail" id="userImage" onerror="replaceImage()" />
        </div>
        <div class="col-md-8">
            <form method="post" asp-page-handler="EditInfo">
                <div class="form-group d-flex justify-content-around">
                    <div class="col-5">
                        <label asp-for="FirstName">Име</label>
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="Въведете своето име..." value="@Model.FirstName" />
                    </div>
                    <div class="col-5">
                        <label asp-for="LastName">Фамилия</label>
                        <input type="text" class="form-control" asp-for="LastName" placeholder="Въведете своята фамилия..." value="@Model.LastName" />
                    </div>
                </div>
                <div class="form-group d-flex justify-content-around">
                    <div class="col-5">
                        <label asp-for="Username">Потребителско име</label>
                        <input type="text" class="form-control" asp-for="Username" placeholder="Въведете своето потребителско име..." value="@Model.Username" />
                    </div>
                    <div class="col-5">
                        <label asp-for="Email">Имейл</label>
                        <input type="text" class="form-control" asp-for="Email" placeholder="Въведете своят имейл..." value="@Model.Email" />
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success col-11">Запази промените</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function replaceImage() {
        document.getElementById('userImage').src = '/images/anonymous-user.jpg';
    }
</script>
