@using System.Reflection;
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Logging;
@using Library.DataAccess.MainModels;
@using Library.Web.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litify</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" src="~/images/litify-logo.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/library/css/custom/AccountLayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/UserNav.css" asp-append-version="true">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="row">
            <div class="col-xxl-9 mx-auto">
                <div class="d-flex align-items-center">
                    <a href="/">
                    <img src="~/images/litify-logo.png" class="mr-auto" style="width: 6em;" />
                    </a>
                    <div class="p-4 py-3 text-center flex-grow-1 display-4 header-name-holder">Настройки</div>
                    <div id="accountNav" class="menu d-flex justify-content-center align-items-center">
                        <a href="/" class="d-flex align-items-end">
                            <label class="menu-open-button" for="menu-open">
                                <span class="hamburger hamburger-1"></span>
                                <span class="hamburger hamburger-2"></span>
                                <span class="hamburger hamburger-3"></span>
                            </label>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        
    </footer>

    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @{
        var loginErrorMessage = TempData["LoginErrorMessage"] as string;
    }
    <script src="~/library/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/library/js/vendor/popper.min.js"></script>
    <script src="~/library/js/vendor/bootstrap.min.js"></script>
    <script src="~/library/js/vendor/slick.min.js"></script>
    <script src="~/library/js/customJS/accLayout.js"></script>
    <script src="~/library/js/pages.js"></script>
    <script src="~/library/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>


    @section Scripts {
        @if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <script>
                $(document).ready(function () {
                    showErrorMessage('@loginErrorMessage');

                    function showErrorMessage(message) {
                        Swal.fire({
                            title: 'Error!',
                            text: message,
                            icon: 'error',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                });
            </script>
        }
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
