@model List<string>
@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<style>
    #bookDetailsContainer span {
        font-weight: 400;
    }

    .custom-container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
    }

    .modal-header a {
        font-size: 2.1em;
    }

    .upload-input {
        height: 24.4rem !important;
    }

        .upload-input img {
            height: 24.4rem !important;
        }

    #bookForm label {
        padding: 0.5rem 0px;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .custom-container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
    }

    .error {
        outline: red 2px solid;
    }
</style>

<div class="add-a-book-by-isbn">
    <div class="container">
        <div class="row custom-container">
            <div class="row">
                <div class="col-2 col-md-1"></div>
                <div class="text-center py-2 col-8 col-md-10 display-4">Добавяне на книга</div>
                <a class="col-2 col-md-1 align-self-center" href="#" data-toggle="modal" data-target="#infoModal"><i class="fa-regular fa-circle-question fa-2xl"></i></a>
                <hr class="py-1" style="color:#00d1d1" />
            </div>
            <div class="form-group pt-4">
                <input class="form-control fs-5" id="isbnInput" placeholder="ISBN" />
            </div>
            <div class="form-group pt-2">
                <a id="submit-isbn-info" class="btn btn-success col-12 fs-5">Намери книгата</a>
            </div>
        </div>
        <div class="row custom-container mt-5" id="bookDetailsContainer" style="display:none;">
            <form id="bookForm" method="post" action="/Librarian/SaveBook">
                <div class="row pb-3">
                    <div class="text-center display-4 pb-2">Информация за книгата</div>
                    <div class="text-center h4" id="isbnOfBook" name="ISBN">ISBN:</div>
                    <hr style="color:chocolate" class="py-1" />
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="bookTitle">Заглавие на книгата</label>
                            <input id="bookTitle" name="Title" class="form-control" placeholder="Въведете името на книгата..." required />
                        </div>
                        <div class="form-group">
                            <label for="bookAuthor">Автори</label>
                            <input id="bookAuthor" name="Authors" class="form-control" placeholder="Въведете името на автора..." required />
                        </div>
                        <div class="form-group">
                            <label for="bookCreationDate">Дата на създаване на книгата</label>
                            <input id="bookCreationDate" name="PublishDate" class="form-control" type="date" required />
                        </div>
                        @if (Model != null)
                        {
                            <div class="form-group">
                                <label style="color:red" id="category"></label>
                                <br>
                                <label for="bookGenre">Нашият жанр:</label>
                                <select id="bookGenre" name="Category" class="form-control">
                                    @foreach (var category in Model)
                                    {
                                        <option value="@category">@category</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group">
                            <label for="language">Език</label>
                            <input id="language" name="Language" class="form-control" placeholder="Въведете езика на написване..." required />
                        </div>
                        <div class="form-group">
                            <label for="bookAmount">Брой книги</label>
                            <input id="bookAmount" name="AmountOfBooks" class="form-control" type="number" placeholder="Въведете броя на наличните книги..." required />
                        </div>

                        <div class="form-group">
                            <label for="bookDescription">Описание</label>
                            <textarea id="bookDescription" name="Description" class="form-control" placeholder="Въведете описание на книгата..." required></textarea>
                        </div>
                    </div>
                    <div class="col row justify-content-center align-items-start">
                        <div class="col-12">
                            <div class="">
                                <label class="form-label col-12 text-center h3" for="bookCoverInput">Снимка на корицата</label>
                                <div class="upload-input">
                                    <input type="file" id="bookCoverInput" name="bookCoverInput" class="image-upload" accept=".png, .jpg, .jpeg" multiple="multiple" max="1">
                                    <img id="bookCover" class="uploaded-image" name="ImageURL" />
                                    <label for="bookCoverInput" class="text-center content">
                                        <span class="text">
                                            <span class="mb-15 plus-icon"><i class="fa fa-plus"></i></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="py-1" style="color:chocolate" />
                <div class="row justify-content-around py-3">
                    <div class="col-md-5">
                        <a class="btn btn-success col-12 fs-5" id="saveFormData">Запамети</a>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-danger col-12 fs-5" asp-controller="Librarian" asp-action="">Отказ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-1"></div>
                    <h3 class="modal-title col-8 text-center" id="infoModalLabel">Допълнителна информация</h3>
                    <a class="close btn col-1 py-0 my-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>

                <div class="container">
                    <div>
                        <div class="container">
                            <p style="font-weight: bold; font-size:larger">Предоставената страница дава възможност на персонала да добавя книгите по техния ISBN номер.</p>
                        </div>
                        <hr />
                        <br />
                        <div class="containter">
                            <p>*.</p>
                            <br />
                            <p>
                                Ако една книга я няма по ISBN номер, препоръчваме да я добавите от менюто <a asp-controller="Librarian" asp-action="AddABook">тук</a>.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>