@using Library.Models.BaseModels;
@model Book

@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
    List<string> bookCategories = ViewBag.BookCategories as List<string>;
}


<div class="add-a-book">
    <div class="container">
        <h2>Add Book</h2>

        <div id="addBookForm">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBookCreation"></label>
                <input asp-for="DateOfBookCreation" class="form-control" type="date" />
            </div>
            @if (bookCategories != null)
            {
                <div class="form-group">
                    <label for="Genre_CategoryName">Category Name:</label>
                    <select id="Genre_CategoryName" name="Genre_CategoryName" class="form-control">
                        <option value="">Select Genre</option>
                        @foreach (var category in bookCategories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
            }

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AvailableItems"></label>
                <input asp-for="AvailableItems" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NeededMembership"></label>
                <input asp-for="NeededMembership" class="form-control" />
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="form-label" for="book-image-1">Book Cover</label>
                    <div class="upload-input">
                        <input type="file" id="book-image-1" name="book-image-1" class="image-upload" accept=".png, .jpg, .jpeg" multiple="multiple" max="1">
                        <img class="uploaded-image" />
                        <label for="book-image-1" class="text-center content">
                            <span class="text">
                                <span class="mb-15 plus-icon"><i class="fa fa-plus"></i></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <button id="addBookButton" class="btn btn-primary ">Add Book</button>
            <a asp-controller="Librarian" asp-action="AllBooksInformation" class="btn btn-danger ">Cancel</a>
        </div>
    </div>
</div>