@using Library.Models.BaseModels;
@model IEnumerable<BookSubject>

@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="manage-book-categories">
    <div class="container">
        <div class="card" id="bookSubject">
            <div class="card-header"></div>
            <div class="card-body">
                <table class="subject-table">
                    <thead>
                        <tr>
                            <th>Book Subject Name</th>
                            <th>Book Categories</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="subjects-tbody">
                        <!--Add options for change-->
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="add-subject-row-btn"><i class="fas fa-plus"></i> Add Book Category</button>
            </div>
        </div>

        <div>
            <button id="save-btn" class="btn btn-primary">Save all</button>
        </div>

    </div>
</div>