@using Library.Models.BaseModels;
@model IQueryable<BookSubject>

@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<style>
    .subject-name,
    .category-name {
        border: 1px solid #ccc; 
        padding: 5px; 
    }

    .subject-table,
    .book-categories-table {
        border-collapse: collapse;
        width: 100%;
    }

        .subject-table th,
        .subject-table td,
        .book-categories-table th,
        .book-categories-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left; 
        }

    #add-subject-row-btn {
        background: chocolate !important;
        border: brown 1px solid !important;
        box-shadow: brown !important;
    }

    #add-subject-row-btn:hover{
        background:brown !important;
    }
    .btn-warning:hover{
        background:orange !important;
    }

    .btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }

</style>
<div class="manage-book-categories">
    <div class="container">
        <div class="card" id="bookSubject">
            <div class="card-header"></div>
            <div class="card-body">
                <table class="subject-table col-12">
                    <thead class="pb-3">
                        <tr>
                            <th class="fs-3 text-center">Име на Темата</th>
                            <th class="fs-3 text-center">Категории на книгата</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="subjects-tbody">
                        @foreach (var subject in Model)
                        {
                            <tr class="sub-row">
                                <td class="col-5">
                                    <input type="text" class="form-control subject-name fs-5" required value="@subject.SubjectName">
                                </td>
                                <td id="for-book-categories">
                                    @{
                                        Guid guid = Guid.NewGuid();
                                        var bCtId = $"book-categories-table-{guid}";
                                    }
                                    <a class="btn btn-warning fs-5  p-1 col-12 toggle-categories" data-toggle="collapse" href="#@bCtId" role="button" aria-expanded="true" aria-controls="@bCtId">
                                        Скрий Категории
                                    </a>

                                    <div class="card book-categories-table show" id="@bCtId">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <table class="col-12">
                                                <thead>
                                                    <tr>
                                                        <th class="fs-4 text-center">Име на категорията</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="book-category-tbody">
                                                    @foreach (var category in subject.BookCategories)
                                                    {
                                                        <tr class="cat-row">
                                                            <td><input type="text" class="form-control category-name fs-5" value="@category.CategoryName" required></td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger delete-row m-1"><i class="fa fa-trash"></i></button>
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            <div class="d-flex pt-3">
                                                <button type="button" class="btn btn-primary col-12 add-book-category-row-btn fs-5" id=""><i class="fas fa-plus"></i> Добави нова категория</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger delete-row m-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="text-center pt-4 col-12">
                    <button type="button" class="btn col-12 btn-primary fs-5" id="add-subject-row-btn"><i class="fas fa-plus"></i> Добави нова тема</button>
                </div>
            </div>
        </div>

        <div class="py-4">
            <button id="save-btn" class="btn col-12 fs-5 btn-success">Запази всички промени</button>
        </div>

    </div>
</div>