@using Library.Models.BaseModels;
@model IQueryable<BookSubject>

@{
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="manage-book-categories">
    <div class="container">
        <div class="card" id="bookSubject">
            <div class="card-header"></div>
            <div class="card-body">
                <table class="subject-table">
                    <thead>
                        <tr>
                            <th>Book Subject Name</th>
                            <th>Book Categories</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="subjects-tbody">
                        @foreach (var subject in Model)
                        {
                            <tr class="sub-row">
                                <td><input type="text" class="form-control subject-name" required value="@subject.SubjectName"></td>
                                <td id="for-book-categories">
                                    @{
                                        Guid guid = Guid.NewGuid();
                                        var bCtId = $"book-categories-table-{guid}";
                                    }
                                    <a class="btn btn-primary col-12" data-toggle="collapse" href="#@bCtId" role="button" aria-expanded="true" aria-controls="@bCtId">
                                        Categories
                                    </a>

                                    <div class="card book-categories-table show" id="@bCtId">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Book Category Name</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="book-category-tbody">
                                                    @foreach (var category in subject.BookCategories)
                                                    {
                                                        <tr class="cat-row">
                                                            <td><input type="text" class="form-control category-name" value="@category.CategoryName" required></td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger delete-row m-1"><i class="fa fa-trash"></i></button>
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-primary add-book-category-row-btn" id=""><i class="fas fa-plus"></i> Add Book Category</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger delete-row m-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="add-subject-row-btn"><i class="fas fa-plus"></i> Add Book Category</button>
            </div>
        </div>

        <div>
            <button id="save-btn" class="btn btn-primary">Save all</button>
        </div>

    </div>
</div>