@using Library.Models.ViewModels;
@model BookCollectionShowerViewModel

<style>
    .category-names:hover {
        color: gray;
        text-decoration: none;
    }

    .category-names {
        color: gray;
        text-decoration: none;
    }

    .scroller-title {
        color: rgba(7,175,211,1);
    }

    .hover-slide-right {
        transition: transform 0.3s ease;
    }

        .hover-slide-right:hover {
            transform: translateX(10px);
            color: black;
            text-decoration: none;
        }

</style>

<div class="book-collection-shower">
    <div class="container">
        <div class="row">
            <div class="row h2 justify-content-center scroller-title ">Explore our genres</div>
            <div class="row h4 justify-content-center">We have Everything for Everyone</div>
        </div>
        <hr />  `1
    </div>
    <div class="container pt-3">
        <div class="row h3 justify-content-center scroller-title">Book Genres</div>
        <hr />
        <div class="row">
            @if (Model != null)
            {
                @foreach (var subject in Model.BookSubjects)
                {
                    <div class="col-md-4">
                        <div class="h3">@subject.SubjectName</div>
                        <ul class="list-unstyled">
                            @foreach (var category in subject.BookCategories)
                            {
                                <li>
                                    <div class="d-flex">
                                        <a class="category-names h5 p-3 hover-slide-right " href="BookShower?category=@category.CategoryName">
                                            <i class="fa-solid fa-arrow-right mr-1"></i>&nbsp;
                                            @category.CategoryName
                                        </a>
                                    </div>

                                </li>
                            }
                        </ul>
                    </div>
                }

            }
        </div>

    </div>

    @if (Model != null)
    {
        @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
        {
            <div class="container pt-5">
                <div class="row">
                    <div class="row scroller-title h3 justify-content-center">Recommended Books</div>
                    <hr />
                    @foreach (var book in Model.RecommendedBooks)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                        </div>
                    }
                </div>
            </div>
        }
    }
    @if (Model != null)
    {
        @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
        {
            <div class="container pt-5">
                <div class="row">
                    <div class="row scroller-title h3 justify-content-center">Best Sellers</div>
                    <hr />
                    @foreach (var book in Model.BestSellers)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>