@using Library.Models.ViewModels;
@model BookCollectionShowerViewModel

<style>
    .category-names:hover {
        color: gray;
        text-decoration: none;
    }

    .category-names {
        color: gray;
        text-decoration: none;
    }

    .scroller-title {
        color: rgba(7,175,211,1);
    }

    .hover-slide-right {
        transition: transform 0.3s ease;
    }

        .hover-slide-right:hover {
            transform: translateX(10px);
            color: black;
            text-decoration: none;
        }

    .custom-container {
        background-color: #ffffff;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 20px;
    }

    .book-collection-shower {
        background: url('/images/book-collection-shower-bg.svg');
    }
</style>

<div class="book-collection-shower py-3">
    <div class="container custom-container ">
        <div class="row justify-content-center py-5">
            <div class="row display-4 justify-content-center scroller-title ">Проучете нашите жанрове</div>
            <div class="row h3 justify-content-center py-2">Имаме всичко за всички</div>
            <hr style="width:80%;opacity: 0.4;color: #fc8600;" class="py-1" />
        </div>
        <hr />
        <div class="row justify-content-around">
            @if (Model != null)
            {
                @foreach (var subject in Model.BookSubjects)
                {
                    <div class="col-md-3 col-5 pt-3">
                        <div class="h3">@subject.SubjectName</div>
                        <ul class="list-unstyled">
                            @foreach (var category in subject.BookCategories)
                            {
                                <li>
                                    <div class="d-flex">
                                        <a class="category-names h5 p-3 hover-slide-right " href="BookShower?category=@category.CategoryName">
                                            <i class="fa-solid fa-arrow-right mr-1"></i>&nbsp;
                                            @category.CategoryName
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }

            }
        </div>

        @if (Model != null)
        {
            @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
            {
                <div class="row pt-5">
                    <div class="row scroller-title h3 justify-content-center">Препоръчани книги</div>
                    <hr />
                    @foreach (var book in Model.RecommendedBooks)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                        </div>
                    }
                </div>
            }
        }
        @if (Model != null)
        {
            @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
            {
                <div class="row pt-5">
                    <div class="row scroller-title h3 justify-content-center">Най-търсени</div>
                    <hr />
                    @foreach (var book in Model.BestSellers)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>