@using Library.Models.ViewModels;
@model BorrowedViewModel

<div class="borrowed-page">
    <div class="container">
        @foreach (var book in Model.BorrowedBooks)
        {
            
        }
    </div>
</div>