@using Library.Models.ViewModels;
@model MainPageViewModel
<style>
    #container-2 {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,209,209,1) 21%);
    }

    #brw-coll {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s, color 0.3s;
        background: #ff6600;
    }

        #brw-coll:hover {
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
            background: chocolate;
            color:#fff;
        }

    .text p {
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }

    .word {
        position: absolute;
        width: 20rem;
        opacity: 0;
    }

    .letter {
        display: inline-block;
        position: relative;
        float: left;
        transform: translateZ(25px);
        transform-origin: 50% 50% 25px;
    }

        .letter.out {
            transform: rotateX(90deg);
            transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        .letter.behind {
            transform: rotateX(-90deg);
        }

        .letter.in {
            transform: rotateX(0deg);
            transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

    .static-word {
        padding-right: 0.3em;
    }

    .typewriter .h2 {
        font-weight: bold;
        color: #333;
    }

    .typewriter .h5 {
        color: #666;
    }

</style>
<div class="main-page">
    <div id="container-1" class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <div class="row">
                    <div class="typewriter">
                        <div class="h2">Аудиокниги, Е-Книги и други четива от любимата Ви библиотека.</div>
                        <div class="h5">
                            Всичко от което се нуждаете са време и внимание.
                        </div>
                        <div class="h5">
                            Напълно безплатно - без нужда от абонаменти.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="~/images/main-page-main-photo.png" class="" style="width:400px;" />
            </div>
        </div>
    </div>
    <div id="container-2">
        <div class="container">
            <div class="row d-flex align-items-center mt-5">
                <div class="col">
                    <div class="row">
                        <div class="text-container">
                            <div class="text">
                                <p class="h1">
                                    <span class="static-word">Книгите са &#32;</span>
                                    <span class="word" style="color: #FF5733;">знание.</span>
                                    <span class="word" style="color: #FFC300;">изобретение.</span>
                                    <span class="word" style="color: #C70039;">въображение.</span>
                                    <span class="word" style="color: #900C3F;">очарователни.</span>
                                    <span class="word" style="color: #581845;">приятели.</span>
                                </p>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="col-12">
                                <a class="btn" asp-controller="Home" asp-action="BookCollectionShower" id="brw-coll">
                                    <div class="h3">
                                        Разгледайте колекцията ни
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <img src="~/images/main-page-secondary-photo.png" class="" style="width:300px;" />
                </div>
            </div>
        </div>
    </div>
    @if (Model.RecommendedBooks != null && Model.RecommendedBooks.Count() > 0)
    {
        <div id="container-3" class="container pt-5">
            <div class="row">
                <div class="row scroller-title h3 justify-content-center">Препоръчани книги</div>
                <hr />
                @foreach (var book in Model.RecommendedBooks)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
    {
        <div id="container-4" class="container pt-5">
            <div class="row">
                <div class="row scroller-title h3 justify-content-center">Най-търсени</div>
                <hr />
                @foreach (var book in Model.BestSellers)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                    </div>
                }
            </div>
        </div>
    }
</div>
<script>
    var words = document.getElementsByClassName('word');
    var wordArray = [];
    var currentWord = 0;

    words[currentWord].style.opacity = 1;
    for (var i = 0; i < words.length; i++) {
        splitLetters(words[i]);
    }

    function changeWord() {
        var cw = wordArray[currentWord];
        var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
        for (var i = 0; i < cw.length; i++) {
            animateLetterOut(cw, i);
        }

        for (var i = 0; i < nw.length; i++) {
            nw[i].className = 'letter behind';
            nw[0].parentElement.style.opacity = 1;
            animateLetterIn(nw, i);
        }

        currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
    }

    function animateLetterOut(cw, i) {
        setTimeout(function () {
            cw[i].className = 'letter out';
        }, i * 80);
    }

    function animateLetterIn(nw, i) {
        setTimeout(function () {
            nw[i].className = 'letter in';
        }, 340 + (i * 80));
    }

    function splitLetters(word) {
        var content = word.innerHTML;
        word.innerHTML = '';
        var letters = [];
        for (var i = 0; i < content.length; i++) {
            var letter = document.createElement('span');
            letter.className = 'letter';
            letter.innerHTML = content.charAt(i);
            word.appendChild(letter);
            letters.push(letter);
        }

        wordArray.push(letters);
    }

    changeWord();
    setInterval(changeWord, 4000);

    document.addEventListener('DOMContentLoaded', function () {
        const typewriterElement = document.querySelector('.typewriter');
        const h2Element = typewriterElement.querySelector('.h2');
        const h5Elements = typewriterElement.querySelectorAll('.h5');

        function typeWriter(element, speed) {
            const text = element.textContent.trim();
            element.textContent = '';
            let i = 0;
            const timer = setInterval(function () {
                if (i < text.length) {
                    element.textContent += text.charAt(i);
                    i++;
                } else {
                    clearInterval(timer);
                }
            }, speed);
        }

        typeWriter(h2Element, 100);
        let delay = h2Element.textContent.length * 100;

        h5Elements.forEach((h5Element, index) => {
            setTimeout(function () {
                typeWriter(h5Element, 100);
            }, delay * (index + 1)); // Incrementing delay for each subsequent h5 element
        });
    });




</script>