@using Library.Models.ViewModels;
@model MainPageViewModel
<style>
    #container-2 {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,209,209,1) 21%);
    }

    #brw-coll {
        background: #fc8600;
    }

    .scroller-title {
        color: rgba(7,175,211,1);
    }
</style>
<div class="main-page">
    <div id="container-1" class="container">
        <div class="row d-flex align-items-center">
            <div class="col">
                <div class="row">
                    <div class="h2">Audiobooks, Ebooks & other items from your library</div>
                    <div class="h5">
                        All you need is some attention and time. It is free - no fee or subscription required.
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/main-page-main-photo.png" class="" style="width:400px;" />
            </div>
        </div>
    </div>
    <div id="container-2">
        <div class="container">
            <div class="row d-flex align-items-center mt-5">
                <div class="col">
                    <div class="row">
                        <div class="h2 m-0">
                            Explore our books for free.
                        </div>
                        <div class="pt-4">
                            <div class="col-12">
                                <a class="btn" asp-controller="Home" asp-action="BookCollectionShower" id="brw-coll">
                                    <div class="h3">
                                        Browse our collection
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <img src="~/images/main-page-secondary-photo.png" class="" style="width:300px;" />
                </div>
            </div>
        </div>
    </div>
    @if (Model.RecommendedBooks != null && Model.RecommendedBooks.Count() > 0)
    {
        <div id="container-3" class="container pt-5">
            <div class="row">
                <div class="row scroller-title h3 justify-content-center">Recommended Books</div>
                <hr />
                @foreach (var book in Model.RecommendedBooks)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.BestSellers != null && Model.BestSellers.Count() > 0)
    {
        <div id="container-4" class="container pt-5">
            <div class="row">
                <div class="row scroller-title h3 justify-content-center">Best Sellers</div>
                <hr />
                @foreach (var book in Model.BestSellers)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        @await Html.PartialAsync("~/Views/Home/_BookShowerPartial.cshtml", book)
                    </div>
                }
            </div>
        </div>
    }
</div>
