@using Library.Models.ViewModels;
@model MainPageViewModel
<style>
    #container-2 {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(121,200,62,0.9472163865546218) 21%);
    }

    #brw-coll {
        background: #ed7117;
    }
</style>
<div class="main-page">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col">
                <div class="row">
                    <div class="row h2">Audiobooks, Ebooks & other items from your library</div>
                    <div class="row h5">
                        All you need is some attention and time. It is free - no fee or subscription required.
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/main-page-main-photo.png" class="" style="width:400px;" />
            </div>
        </div>
    </div>
    <div id="container-2">
        <div class="container">
            <div class="row d-flex align-items-center mt-5">
                <div class="col">
                    <div class="row h3 mb-4">
                        Explore our books for free.
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn" asp-controller="Home" asp-action="BookCollectionShower" id="brw-coll">
                                <div class="h3">
                                    Browse our collection
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="~/images/main-page-secondary-photo.png" class="" style="width:300px;" />
                </div>
            </div>
        </div>
    </div>
</div>