@using Library.Models.BaseModels;
@model IQueryable<Notification>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <partial name="_NotificationPartial" model="@item" />
        }
        @if (Model == null || Model.Count() < 1)
        {
            <h1 class="row mt-5 pt-5 justify-content-center">
                No Notificaitons!
            </h1>
        }
    </div>
</div>