@using System.Reflection;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/library/css/custom/ImagePost.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/library/css/custom/AdminLayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/CustomLoader.css" asp-append-version="true">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0 p-0 pt-2 pl-2 mb-3">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0 pb-1" asp-area="" asp-controller="Home" asp-action="MainPage">
                    <img src="~/images/litify-logo.png" style="width:65px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark h3" asp-area="" asp-controller="Admin" asp-action="Statistics">Статистики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark h3" asp-area="" asp-controller="Admin" asp-action="ClientManagement">Клиенти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark h3" asp-area="" asp-controller="Admin" asp-action="ManageMemberships">Членства</a>
                        </li>
                        <li class="col text-end">
                            <a class="nav-link text-dark h3" asp-area="" asp-controller="Librarian" asp-action="AllBooksInformation">
                                <i class="fa-solid fa-book fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- VENDOR -->
    <script src="~/library/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/library/js/vendor/popper.min.js"></script>
    <script src="~/library/js/vendor/bootstrap.min.js"></script>
    <script src="~/library/js/vendor/slick.min.js"></script>
    <!-- CUSTOM -->
    <!-- PAGES -->
    <script src="~/library/js/pages.js"></script>

    <!-- COMMON -->
    <script src="~/library/js/common.js"></script>
    <script src="~/library/js/customJs/loaderEvents.js"></script>

    <!-- CUSTOM -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>


    <script type="text/javascript">
        $(function () {
            clientManagement.init($('.client-management'));
            editStaffInformation.init($('.edit-staff-information'));
            manageMemberships.init($('.manage-memberships'));
            statisticsPage.init($('.statistics-page'));
        });
    </script>
    <div class="book_custom_loader">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
