@using System.Reflection;
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.Extensions.Logging;
@using Library.DataAccess.MainModels;
@using Library.Web.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litify</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" src="/images/litify-logo.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/library/css/custom/MainLayout.css" asp-append-version="true">
    <link rel="stylesheet" href="~/library/css/custom/ImagePost.css" asp-append-version="true">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0 p-0 pt-2 pl-2 mb-3">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0 pb-1" asp-area="" asp-controller="Home" asp-action="MainPage">
                    <img src="~/images/litify-logo.png" style="width:65px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="p-3 navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav align-items-center flex-grow-1 pl-2">
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Home" asp-action="Borrowed">
                                <i class="fa-solid fa-book-open-reader fa-2xl"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Home" asp-action="Notifications">
                                <i class="fa-regular fa-bell fa-2xl"></i>
                            </a>
                        </li>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link nav-item fontawesome-icons" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <i class="fa-solid fa-user-lock fa-2xl"></i>
                            </a>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-item fontawesome-icons" id="signIn" style="cursor:pointer" asp-area="Identity" asp-page="/Account/Login">
                                    <i class="fa-solid fa-user-lock fa-2xl"></i>
                                </a>
                                <div class="sign-in-container">
                                    <div class="container">
                                        <div class="row justify-content-center h3 pt-2">
                                            Sign in
                                        </div>

                                        <form method="post" asp-action="SignIn" asp-controller="Account" id="signInForm">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="row pt-2">
                                                <div class="col">
                                                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col position-relative">
                                                    <input type="password" id="password" name="password" placeholder="Password" class="form-control pr-5" style="width: 100%;" />
                                                    <i id="togglePassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-9">
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row pt-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-danger form-control">Log in with Google</button>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn btn-primary form-control">Log in with Facebook</button>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn form-control" id="open-sign-up-container">Dont have an account?</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sign-up-container">
                                    <div class="container">
                                        <div class="row justify-content-center h3 pt-2" id="signUpForm">
                                            Sign up
                                        </div>
                                        <form method="post" asp-action="SignUp" asp-controller="Account">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="row pt-2">
                                                <div class="col">
                                                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col position-relative">
                                                    <input type="password" id="SignUpPassword" name="password" placeholder="Password" class="form-control pr-5" style="width: 100%;" />
                                                    <i id="toggleSignUpPassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-9">
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-dark btn-block">Sign up</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row pt-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-danger form-control">Sign up with Google</button>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn btn-primary form-control">Sign up with Facebook</button>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col">
                                                <button type="button" class="btn form-control" id="open-sign-in-container">Already a user?</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @*  @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") ||User.IsInRole("Worker")|| User.IsInRole("SuperAdmin")))
                        { *@
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Librarian" asp-action="AllBooksInformation">
                                <i class="fa-solid fa-book fa-2xl"></i>
                            </a>
                        </li>
                        @* } *@

                        @*  @if (User?.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                        { *@
                        <li class="nav-item">
                            <a class="nav-link nav-item fontawesome-icons" asp-area="" asp-controller="Admin" asp-action="Statistics">
                                <i class="fa-solid fa-lock fa-2xl"></i>
                            </a>
                        </li>
                        @* } *@
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/library/js/customJS/mainLayout.js"></script>
    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @{
        var loginErrorMessage = TempData["LoginErrorMessage"] as string;
    }

    @section Scripts {
        @if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <script>
                $(document).ready(function () {
                    showErrorMessage('@loginErrorMessage');

                    function showErrorMessage(message) {
                        Swal.fire({
                            title: 'Error!',
                            text: message,
                            icon: 'error',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                });
            </script>
        }
    }


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
