@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<script>
    var domain = window.location.protocol + "//"+ window.location.hostname +":"+ window.location.port;

    var redirectToUrl = domain + "/Home/Error?errorCode=401";

    window.location.href = redirectToUrl;
</script>
<header>
        <h1 class="text-danger d-flex align-items-center justify-content-center">@ViewData["Title"]</h1>
        <p class="text-danger d-flex align-items-center justify-content-center">You do not have access to this resource.</p>
</header>
