@page
@model ForgotPasswordConfirmation

<div class="container">
    <h1 class="d-flex align-items-center justify-content-center">Потвърждение</h1>
    <p class="d-flex align-items-center justify-content-center">
        Проверете имейла си, за да възобновите паролата си.
    </p>
    <a id="forgot-password" asp-page="./ForgotPassword" class="d-flex align-items-center justify-content-center">Не получавате имейл?</a>
</div>
