@page
@model ForgotPasswordModel

<div class="container">
    <h1 class="justify-content-center d-flex">Забравена парола?</h1>
    <h2 class="justify-content-center d-flex">Въведете имейла си.</h2>
    <hr />
    <div class="row align-items-center justify-content-center d-flex">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="form-label">Имейл</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Възобнови парола</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
