@page
@model ResetPasswordConfirmationModel

<h1 class="text-center">Променена парола</h1>
<p class="text-center h5 pt-4">
    Паролата ви беше промененеа.<br /> Моля <a asp-page="./Login">натиснете тук, за да влезете в приложението</a>.
</p>
